<?xml version="1.0"?>
<robot name="ur12e">
  <link name="Link1">
    <inertial><origin xyz="0 -0.02561 0.00193" rpy="0 0 0"/><mass value="3.7"/><inertia ixx="0.00244051" ixy="0" ixz="-0" iyy="1.37821e-05" iyz="0.000182881" izz="0.00242673"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_model_description/meshes/ur12e/collision/Link1.STL" scale="1 1 1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_model_description/meshes/ur12e/collision/Link1.STL" scale="1 1 1"/></geometry></collision>
  </link>
  <link name="Link2">
    <inertial><origin xyz="0.2125 0 0.11336" rpy="0 0 0"/><mass value="8.393"/><inertia ixx="0.107854" ixy="-0" ixz="-0.202179" iyy="0.486851" iyz="-0" izz="0.378996"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_model_description/meshes/ur12e/collision/Link2.STL" scale="1 1 1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_model_description/meshes/ur12e/collision/Link2.STL" scale="1 1 1"/></geometry></collision>
    <visual><origin xyz="-0.3733722 0 0.176" rpy="-1.5707963 0.7853982 -1.5707963"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_accessories/others/meshes/No001_12ebarket/link2_bracket.STL" scale="1 1 1"/></geometry></visual>
    <collision><origin xyz="-0.3733722 0 0.176" rpy="-1.5707963 0.7853982 -1.5707963"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_accessories/others/meshes/No001_12ebarket/link2_bracket.STL" scale="1 1 1"/></geometry></collision>
  </link>
  <link name="Link3">
    <inertial><origin xyz="0.15 0 0.0265" rpy="0 0 0"/><mass value="2.33"/><inertia ixx="0.00163624" ixy="-0" ixz="-0.00926175" iyy="0.0540612" iyz="-0" izz="0.052425"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_model_description/meshes/ur12e/collision/Link3.STL" scale="1 1 1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_model_description/meshes/ur12e/collision/Link3.STL" scale="1 1 1"/></geometry></collision>
    <visual><origin xyz="-0.3025 0 0.0388" rpy="-0 1.570796301 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_accessories/others/meshes/No001_12ebarket/link3_bracket.STL" scale="1 1 1"/></geometry></visual>
    <collision><origin xyz="-0.3025 0 0.0388" rpy="-0 1.570796301 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_accessories/others/meshes/No001_12ebarket/link3_bracket.STL" scale="1 1 1"/></geometry></collision>
  </link>
  <link name="Link4">
    <inertial><origin xyz="0 -0.0018 0.01634" rpy="0 0 0"/><mass value="1.219"/><inertia ixx="0.000329417" ixy="0" ixz="-0" iyy="0.000325468" iyz="3.58532e-05" izz="3.94956e-06"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_model_description/meshes/ur12e/collision/Link4.STL" scale="1 1 1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_model_description/meshes/ur12e/collision/Link4.STL" scale="1 1 1"/></geometry></collision>
  </link>
  <link name="Link5">
    <inertial><origin xyz="0 0.0018 0.01634" rpy="0 0 0"/><mass value="1.219"/><inertia ixx="0.000329417" ixy="-0" ixz="-0" iyy="0.000325468" iyz="-3.58532e-05" izz="3.94956e-06"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_model_description/meshes/ur12e/collision/Link5.STL" scale="1 1 1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_model_description/meshes/ur12e/collision/Link5.STL" scale="1 1 1"/></geometry></collision>
  </link>
  <link name="Link6">
    <inertial><origin xyz="0 0 -0.001159" rpy="0 0 0"/><mass value="0.1879"/><inertia ixx="2.52402e-07" ixy="-0" ixz="0" iyy="2.52402e-07" iyz="0" izz="0"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_model_description/meshes/ur12e/collision/Link6.STL" scale="1 1 1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_model_description/meshes/ur12e/collision/Link6.STL" scale="1 1 1"/></geometry></collision>
  </link>
  <link name="base_link">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.01"/><inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/></inertial>
  </link>
  <link name="camera_cover">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.01"/><inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_accessories/No012_TRM651/meshes/collision/camera_cover.STL" scale="1 1 1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_accessories/No012_TRM651/meshes/collision/camera_cover.STL" scale="1 1 1"/></geometry></collision>
  </link>
  <link name="link2_bracket">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.01"/><inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/></inertial>
  </link>
  <link name="link3_bracket">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.01"/><inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/></inertial>
  </link>
  <link name="weld_wire">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.01"/><inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/></inertial>
  </link>
  <link name="welder_cover">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.01"/><inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_accessories/No012_TRM651/meshes/collision/goose_neck.STL" scale="1 1 1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_accessories/No012_TRM651/meshes/collision/goose_neck.STL" scale="1 1 1"/></geometry></collision>
  </link>
  <link name="welder_jacket_head">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.01"/><inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_accessories/No012_TRM651/meshes/collision/shield605_2033/welder_jacket_head.STL" scale="1 1 1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_accessories/No012_TRM651/meshes/collision/shield605_2033/welder_jacket_head.STL" scale="1 1 1"/></geometry></collision>
  </link>
  <link name="xiaoyu_accessory_link">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.01"/><inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_accessories/No012_TRM651/meshes/collision/xiaoyu_accessory_link.STL" scale="1 1 1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_accessories/No012_TRM651/meshes/collision/xiaoyu_accessory_link.STL" scale="1 1 1"/></geometry></collision>
    <visual><origin xyz="0.0672104 -0.0030275 0.0809385" rpy="-0.0872665 -0.0592826 -1.5707963"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_accessories/No012_TRM651/meshes/collision/welder_camera.STL" scale="1 1 1"/></geometry></visual>
    <collision><origin xyz="0.0672104 -0.0030275 0.0809385" rpy="-0.0872665 -0.0592826 -1.5707963"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_accessories/No012_TRM651/meshes/collision/welder_camera.STL" scale="1 1 1"/></geometry></collision>
    <visual><origin xyz="0 0 0.0846945" rpy="2.443464607 0.0024665 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_accessories/No012_TRM651/meshes/collision/welder_cable.STL" scale="1 1 1"/></geometry></visual>
    <collision><origin xyz="0 0 0.0846945" rpy="2.443464607 0.0024665 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_accessories/No012_TRM651/meshes/collision/welder_cable.STL" scale="1 1 1"/></geometry></collision>
    <visual><origin xyz="0.0301153 0 0.5095653" rpy="0 -0.9424778 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_accessories/No012_TRM651/meshes/collision/shield605_2033/welder_jacket.STL" scale="1 1 1"/></geometry></visual>
    <collision><origin xyz="0.0301153 0 0.5095653" rpy="0 -0.9424778 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_accessories/No012_TRM651/meshes/collision/shield605_2033/welder_jacket.STL" scale="1 1 1"/></geometry></collision>
  </link>
  <link name="xiaoyu_arm_base_link">
    <inertial><origin xyz="0.0016146 0 0.026334" rpy="0 0 0"/><mass value="0.69327"/><inertia ixx="0.000480769" ixy="-0" ixz="-2.94771e-05" iyy="0.000482576" iyz="-0" izz="1.80731e-06"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_model_description/meshes/ur12e/collision/base_link.STL" scale="1 1 1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_model_description/meshes/ur12e/collision/base_link.STL" scale="1 1 1"/></geometry></collision>
  </link>
  <link name="xiaoyu_base_link">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.01"/><inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/></inertial>
    <visual><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_base/a1_ground_rail_platform/meshes/collision/a1_ground_rail_platform.STL" scale="1 1 1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_base/a1_ground_rail_platform/meshes/collision/a1_ground_rail_platform.STL" scale="1 1 1"/></geometry></collision>
    <visual><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_base/a1_ground_rail_platform/meshes/collision/cylinder_base.STL" scale="1 1 1"/></geometry></visual>
    <collision><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_base/a1_ground_rail_platform/meshes/collision/cylinder_base.STL" scale="1 1 1"/></geometry></collision>
    <visual><origin xyz="0 0.0357993 -0.1760207" rpy="0 0.5235988 1.5707963"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_base/a1_ground_rail_platform/meshes/collision/positioning_pen.STL" scale="1 1 1"/></geometry></visual>
    <collision><origin xyz="0 0.0357993 -0.1760207" rpy="0 0.5235988 1.5707963"/><geometry><mesh filename="/kpfs_dataset/dataset/baiyu/code/render/urdf_12e_260626_remote/xiaoyu_description/xiaoyu_base/a1_ground_rail_platform/meshes/collision/positioning_pen.STL" scale="1 1 1"/></geometry></collision>
  </link>
  <link name="xiaoyu_flange_link">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.01"/><inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/></inertial>
  </link>
  <link name="xiaoyu_tip_link">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.01"/><inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/></inertial>
  </link>
  <joint name="xiaoyu_base_joint_magnetic_ext" type="fixed">
    <parent link="base_link"/><child link="xiaoyu_base_link"/>
    <origin xyz="0 0 0.26" rpy="0 0 0"/>
  </joint>
  <joint name="parent_joint" type="fixed">
    <parent link="xiaoyu_base_link"/><child link="xiaoyu_arm_base_link"/>
    <origin xyz="0 0 0" rpy="0 0 1.570796327"/>
  </joint>
  <joint name="xiaoyu_arm_joint1" type="revolute">
    <parent link="xiaoyu_arm_base_link"/><child link="Link1"/>
    <origin xyz="0 0 0.1807" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.28319" upper="6.28319" velocity="3.14159" effort="150"/>
  </joint>
  <joint name="xiaoyu_arm_joint2" type="revolute">
    <parent link="Link1"/><child link="Link2"/>
    <origin xyz="0 0 0" rpy="1.570796327 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.28319" upper="6.28319" velocity="3.14159" effort="150"/>
  </joint>
  <joint name="xiaoyu_arm_joint3" type="revolute">
    <parent link="Link2"/><child link="Link3"/>
    <origin xyz="-0.612699998 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.28319" upper="6.28319" velocity="3.14159" effort="150"/>
  </joint>
  <joint name="xiaoyu_arm_joint4" type="revolute">
    <parent link="Link3"/><child link="Link4"/>
    <origin xyz="-0.57155 0 0.17415" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.28319" upper="6.28319" velocity="3.14159" effort="28"/>
  </joint>
  <joint name="xiaoyu_arm_joint5" type="revolute">
    <parent link="Link4"/><child link="Link5"/>
    <origin xyz="0 -0.11985 0" rpy="1.570796327 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.28319" upper="6.28319" velocity="3.14159" effort="28"/>
  </joint>
  <joint name="xiaoyu_arm_joint6" type="revolute">
    <parent link="Link5"/><child link="Link6"/>
    <origin xyz="0 0.11655 0" rpy="-1.570796327 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.28319" upper="6.28319" velocity="3.14159" effort="28"/>
  </joint>
  <joint name="xiaoyu_flange" type="fixed">
    <parent link="Link6"/><child link="xiaoyu_flange_link"/>
    <origin xyz="0 0 0" rpy="0 0 1.570796327"/>
  </joint>
  <joint name="xiaoyu_accessory_end_joint" type="fixed">
    <parent link="xiaoyu_flange_link"/><child link="xiaoyu_tip_link"/>
    <origin xyz="0.077432 0 0.5746912" rpy="0 -0.9424778 0"/>
  </joint>
  <joint name="xiaoyu_accessory_joint" type="fixed">
    <parent link="xiaoyu_flange_link"/><child link="xiaoyu_accessory_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <joint name="camera_cover_j" type="fixed">
    <parent link="xiaoyu_accessory_link"/><child link="camera_cover"/>
    <origin xyz="0.0672104 -0.0030275 0.0809385" rpy="-0.0872665 -0.0592826 -1.5707963"/>
  </joint>
  <joint name="welder_cover_j" type="fixed">
    <parent link="xiaoyu_accessory_link"/><child link="welder_cover"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <joint name="welder_jacket_head_j" type="fixed">
    <parent link="xiaoyu_tip_link"/><child link="welder_jacket_head"/>
    <origin xyz="-0.0805 0 0" rpy="0 0 0"/>
  </joint>
  <joint name="link2_bracket_joint" type="fixed">
    <parent link="Link2"/><child link="link2_bracket"/>
    <origin xyz="-0.3733722 0 0.176" rpy="-1.5707963 0.7853982 -1.5707963"/>
  </joint>
  <joint name="link3_bracket_joint" type="fixed">
    <parent link="Link3"/><child link="link3_bracket"/>
    <origin xyz="-0.3025 0 0.0388" rpy="0 1.5707963 0"/>
  </joint>
  <joint name="weld_wire_joint" type="fixed">
    <parent link="xiaoyu_tip_link"/><child link="weld_wire"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
</robot>